/*general navigation bar styling*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 100;
    top: 0;
    background: deepskyblue;
    font-size: 15px;
    color: black;
    text-decoration: none;
}
/*targeting esigned logo styling*/
nav .logo{
    text-align: left;
    margin-right: 450px;
    color: black;
}
/*targeting the unordered list styling*/
nav ul{
    display: flex;
    /*justify-content: space-between;*/
    margin-left: 30px;
    /*align-items: center;*/
    text-decoration: none;
    list-style-type: none;
    color: black;
}
nav ul li{
    text-decoration: none;
    list-style-type: none;
    margin-right: 20px;
    margin-left: 20px;
    color: black;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
nav ul li a:hover{
    background-color: #000000;
    color: #f0f0f0;
    border-radius: 5px;
    width: 50px;
    padding: 5px;
}
/*targeting icons styling*/
nav .icons{
    display: flex;
    /*justify-content: space-between;*/
    color: black;
    border: none;
    background-color: transparent;
    margin-right: 20px;
}
.icons .user{
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}
.icons .search{
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}